def main():
    print("config name: {{ .config }}"
    print("key1: {{ .key1 }}")
    print("another_key: {{ .another_key }}")
    print("discovery token: {{ .cluster_discovery_token }}")

if __name__ == "__main__":
    main()
